---
import Logo from "@components/logos/Logo/Logo.astro";
import css from "./Banner.module.css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: cls } = Astro.props;
---

<div class:list={[css.banner, cls]}>
  <Logo class={css.logo} />
</div>
