---
import Link from "@components/links/Link/Link.astro";
import { ROUTER } from "@router/router";

const { pathname } = Astro.url;
---

<header>
  <nav>
    <Link href={ROUTER.home.href}>{ROUTER.home.display}</Link>
    {pathname === ROUTER.home.href && <a href="#coffee">Experiencia</a>}
    {pathname === ROUTER.home.href && <a href="#event">Evento</a>}
    <Link href={ROUTER.policy.href}>{ROUTER.policy.display}</Link>
  </nav>
</header>

<style>
  header {
    border-bottom: var(--border);
    min-height: var(--h_header);
    position: sticky;
    top: 0;
    background-color: var(--bg_surf);
    z-index: 10;

    display: grid;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--xl);

      @media (min-width: 320px) and (max-width: 767px) {
        gap: var(--lg);
      }

      a {
        color: inherit;
        text-transform: capitalize;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
