---
import css from "./Event.module.css";
import img_7 from "./img_7.jpg";
---

<article class={css.event}>
  <section>
    <div>
      <h2>EVENTO</h2>
      <div class={css.table_event}>
        <div><span>DURACIÓN</span> <span>1:30 Horas</span></div>
        <div><span>IDEAL PARA</span> <span>TURISTAS Y LOCALES</span></div>
      </div>
    </div>

    <div>
      <h2>PRECIO</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quis cupiditate maxime sit,
        doloribus in quisquam explicabo reiciendis, temporibus iusto fugiat alias libero accusamus
        illo officia sapiente voluptatum mollitia neque.
      </p>
    </div>
  </section>

  <picture class={css.wrapper_img}>
    <img src={img_7.src} alt="café" />
  </picture>
</article>
