.policy {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: var(--xl);
  padding: var(--xl);

  ul {
    display: grid;
    padding: var(--lg);
    padding-left: var(--xl);
    gap: var(--lg);
  }
}
