---
import css from "./Galery.module.css";
import { GALERY } from "./galery";
---

<h2 class={css.title}>GALERÍA</h2>
<section class={css.galery}>
  {GALERY.map((item) => <img src={item.img.src} alt={item.name} />)}
</section>
