.galery {
  display: flex;
  height: 720px;

  @media (min-width: 0px) and (max-width: 1023px) {
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    img {
      min-width: 100%;
      position: sticky;
      left: 0;
      flex-grow: initial;

      transition: initial;
    }
  }

  img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.4s;

    @media (hover: hover) {
      &:hover {
        cursor: crosshair;
        width: 480px;
        opacity: 1;
        filter: contrast(120%);
      }
    }
  }
}

/* .galery {
  display: flex;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 480px;

  img {
    min-width: 100%;
    position: sticky;
    left: 0;
  }
} */
