---
import { Icon } from "astro-icon/components";
---

<a
  href="https://wa.me/50684320153"
  class={"whatsapp"}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Enviar mensaje por WhatsApp"
  aria-hidden="true"
>
  <Icon name={"whatsapp"} size={50} />
</a>

<style>
  .whatsapp {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
</style>
