---
import IconLogo from "@components/logos/IconLogo/IconLogo.astro";
import Network from "../../navs/Network/Network.astro";
---

<footer>
  <IconLogo />
  <p>©Casi todos los derechos reservados</p>
  <Network class={"network"} />
</footer>

<style>
  footer {
    display: grid;
    justify-items: center;
    gap: var(--lg);

    background: var(--bg_main);
    text-align: center;
    padding: var(--xl);
  }
</style>
