---
import css from "./CoffeeExperience.module.css";
import type { HTMLAttributes } from "astro/types";
import img_4 from "./img_4.jpg";
import Logo from "@components/logos/Logo/Logo.astro";

interface Props extends HTMLAttributes<"article"> {}

const { class: cls } = Astro.props;
---

<article class:list={[css.coffee_exp, cls]} id="coffee">
  <picture class={css.wrapper_img}>
    <img src={img_4.src} alt="café" />
  </picture>
  <div class={css.wrapper_txts}>
    <h1>Experiencia de café</h1>
    <p>
      Es un placer invitarle a disfrutar de una experiencia única que le sumerja en el mundo del
      café de Costa Rica.
    </p>
    <p>
      Juntos exploraremos las sutilezas de la preparación del café y aprenderemos diversas técnicas
      que resaltan las cualidades únicas de cada grano. Cada taza contará una historia y cada sorbo
      revelará el corazón del café.
    </p>
    <p>
      Únete a mí en esta oportunidad única para despertar tu pasión por el café y ampliar tus
      conocimientos.
    </p>
    <p>
      Durante la experiencia, descubre cómo cada método de preparación revela una nueva dimensión de
      sabor y textura. Este viaje está diseñado para ampliar tu conocimiento sobre el café de Costa
      Rica y estimular tu curiosidad.
    </p>
    <p>
      A medida que profundizamos en diferentes técnicas de preparación, desde el tradicional
      chorreador hasta la famosa prensa francesa, descubrirá los secretos detrás de cada método y
      aprenderá cómo pequeños ajustes pueden crear diferencias significativas.
    </p>
    <p>
      Termine esta experiencia con una nueva comprensión y apreciación por el arte del café, listo
      para explorarlo desde una nueva perspectiva.
    </p>
    <Logo class={css.logo} />
  </div>
</article>
