---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
import Banner from "./Banner/Banner.astro";
import CoffeeExperience from "./CoffeeExperience/CoffeeExperience.astro";
import Banner2 from "./Banner2/Banner2.astro";
---

<Layout title={ROUTER.home.display}>
  <main class="home">
    <Banner />
    <CoffeeExperience />
    <Banner2 />
  </main>
</Layout>

<style>
  .home {
    padding: 0;
  }
</style>
