---
import Layout from "@layouts/Layout/Layout.astro";
import { ROUTER } from "@router/router";
import Banner from "./Banner/Banner.astro";
import Coffee from "./Coffee/Coffee.astro";
---

<Layout title={ROUTER.home.display}>
  <main class="home">
    <Banner />
    <Coffee />
  </main>
</Layout>

<style>
  .home {
    padding: 0;
  }
</style>
